{% extends "::base-custom-admin.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <h3>View user:</h3>
            <a class="btn btn-info btn-md" href="{{ path('admin-users') }}">Back</a>
            <ul class="list-group">
                <li class="list-group-item">{{ user.username }}</li>
                <li class="list-group-item">{{ user.email }}</li>
                <li class="list-group-item">{{ user.locked ? 'Yes':'No' }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
