{% extends "::base-custom-admin.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <h3>View user:</h3>
            <a class="btn btn-info btn-md" href="{{ path('admin-users') }}">Back</a>
            <ul>
                <li>{{ user.username }}</li>
                <li>{{ user.email }}</li>
                <li>{{ user.locked ? 'Yes':'No' }}</li>
            </ul>

        </div>
    </div>
{% endblock %}
