{% extends "::base-custom-admin.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <a class="btn btn-info btn-md" href="{{ path('admin-producers') }}">Back</a>
            <ul>
                <li>{{ producer.name }}</li>
                <li>{{ producer.country }}</li>
                <li>{{ producer.description }}</li>
            </ul>

        </div>
    </div>
{% endblock %}
