{% extends "::base.html.twig" %}

{% block title %}AppProjectBundle:Producers:show{% endblock %}

{% block body %}

    <div class="row">

        <div class="span12">
            <h2>{{ 'producer.title'|trans({}, 'AppProjectBundle') }} {{producer.name}}</h2>
            <div class="span3 col-lg-1 col-offset-6 centered">

                {% media producer.media, 'big' %}
                <h5>{{ 'producer.description'|trans({}, 'AppProjectBundle') }}:</h5>
                <p>{{ producer.description }}</p>

            </div>
        </div>
    </div>
{% endblock %}
