{% extends "::base-custom-admin.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <h3>View product category:</h3>
            <a class="btn btn-info btn-md" href="{{ path('admin-product-categories') }}">Back</a>
            <ul class="list-group">
                <li class="list-group-item">{{ productCategory.name }}</li>
                <li class="list-group-item">{{ productCategory.description }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
